In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import statsmodels.formula.api as smf 

from os import listdir
listdir(path = '.')

#pandas print options
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

#specying file
file = './birthweight_low.xlsx'

#reading file into python
bw_2 = pd.read_excel(io = file)

#outputting the first 10 rows of dataset
bw_2.head(n=10)

   mage  meduc  monpre  npvis  fage  feduc  omaps  fmaps  cigs  drink  male  mwhte  mblck  moth  fwhte  fblck  foth  bwght
0    69    NaN       5    2.0    62    NaN      4      7    23      9     1      0      1     0      0      1     0    697
1    68   12.0       3   10.0    61   11.0      4      6    25     11     1      1      0     0      1      0     0   1290
2    71   12.0       3    6.0    46   12.0      2      7    21     12     1      0      1     0      0      1     0   1490
3    59   16.0       1    8.0    48   16.0      7      8    21     10     0      0      0     1      0      0     1   1720
4    48   12.0       4    6.0    39   12.0      2      9    17     13     0      1      0     0      1      0     0   1956
5    67   11.0       4    8.0    40    8.0      4      9    16     14     0      1      0     0      1      0     0   1984
6    54   12.0       2   12.0    46   12.0      9      9    17     12     1      0      1     0      0      1     0   2050
7    71   14.0       4    7.0    51   11.0      9      8    15     13     0      1      0     0      1      0     0   2068
8    56   12.0       1    9.0    53   14.0      8      9    14      9     1      1      0     0      1      0     0   2148
9    58   12.0       2   12.0    61   16.0      9      9    13      6     0      0      1     0      0      1     0   2180

In [2]:
bw_2.describe().round(4)

           mage     meduc    monpre     npvis      fage     feduc     omaps     fmaps      cigs     drink      male     mwhte     mblck      moth     fwhte     fblck      foth      bwght
count  196.0000  193.0000  196.0000  193.0000  196.0000  189.0000  196.0000  196.0000  196.0000  196.0000  196.0000  196.0000  196.0000  196.0000  196.0000  196.0000  196.0000   196.0000
mean    40.1531   13.9119    2.3418   11.6010   39.2908   13.8466    8.1939    8.9643   10.9286    5.3980    0.5510    0.2704    0.3827    0.3469    0.3469    0.3418    0.3112  3334.0867
std     10.2501    2.0559    1.3551    4.2673    8.9827    2.6342    1.5765    0.6514    6.1013    3.0017    0.4987    0.4453    0.4873    0.4772    0.4772    0.4755    0.4642   646.7009
min     23.0000    8.0000    1.0000    2.0000   23.0000    1.0000    2.0000    5.0000    0.0000    0.0000    0.0000    0.0000    0.0000    0.0000    0.0000    0.0000    0.0000   697.0000
25%     33.0000   12.0000    2.0000   10.0000   34.7500   12.0000    8.0000    9.0000    6.0000    4.0000    0.0000    0.0000    0.0000    0.0000    0.0000    0.0000    0.0000  2916.2500
50%     39.0000   14.0000    2.0000   12.0000   38.0000   14.0000    9.0000    9.0000   11.0000    5.0000    1.0000    0.0000    0.0000    0.0000    0.0000    0.0000    0.0000  3452.0000
75%     46.0000   16.0000    3.0000   12.0000   43.0000   16.0000    9.0000    9.0000   15.2500    7.2500    1.0000    1.0000    1.0000    1.0000    1.0000    1.0000    1.0000  3759.5000
max     71.0000   17.0000    8.0000   35.0000   73.0000   17.0000   10.0000   10.0000   25.0000   14.0000    1.0000    1.0000    1.0000    1.0000    1.0000    1.0000    1.0000  4933.0000

In [3]:
bw_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196 entries, 0 to 195
Data columns (total 18 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   mage    196 non-null    int64
 1   meduc   193 non-null    float64
 2   monpre  196 non-null    int64
 3   npvis   193 non-null    float64
 4   fage    196 non-null    int64
 5   feduc   189 non-null    float64
 6   omaps   196 non-null    int64
 7   fmaps   196 non-null    int64
 8   cigs    196 non-null    int64
 9   drink   196 non-null    int64
 10  male    196 non-null    int64
 11  mwhte   196 non-null    int64
 12  mblck   196 non-null    int64
 13  moth    196 non-null    int64
 14  fwhte   196 non-null    int64
 15  fblck   196 non-null    int64
 16  foth    196 non-null    int64
 17  bwght   196 non-null    int64
dtypes: float64(3), int64(15)
memory usage: 27.7 KB

In [4]:
#creating columns for missing values, missing value=1 not missing=0

for col in bw_2:
    if bw_2[col].isnull().astype(int).sum() > 0:
        bw_2["m_"+col] = bw_2[col].isnull().astype(int)
        
#checking results of missing values
bw_2[ ["m_meduc", "m_npvis", "m_feduc",] ].sum(axis = 0)

m_meduc    3
m_npvis    3
m_feduc    7
dtype: int64

In [5]:
#changing all missing values for the mean 

bw_2["meduc"] = bw_2["meduc"].fillna(bw_2["meduc"].mean())

bw_2["npvis"] = bw_2["npvis"].fillna(bw_2["npvis"].mean())

bw_2["feduc"] = bw_2["feduc"].fillna(bw_2["feduc"].mean())

In [6]:
#verifying that there are no more missing values

#bw_2.isnull().sum(axis = 0)

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import sklearn.linear_model

In [8]:
bw_2_data = bw_2.drop (["bwght",
                       "omaps",
                       "fmaps"],
                       axis= 1)

#response variable data
bw_2_target = bw_2.loc[ : , "bwght"]
#log_bw_2_target = bw_2.loc = bw_2.loc[ : , "log_bwght"] #preparing fot later use

# preparing trianing and testing set 
x_train, x_test, y_train, y_test = train_test_split(
        bw_2_data,
        bw_2_target,
        test_size = 0.25,
        random_state = 219)

#shapes of the dataset
print(f""" 
Training Data
----------
X-side: {x_train.shape}
y-side: {y_train.shape}

Testing Data 
-----------
X-side: {x_test.shape}
y side: {y_test.shape}
""")

Training Data
----------
X-side: (147, 18)
y-side: (147,)

Testing Data
-----------
X-side: (49, 18)
y side: (49,)

In [9]:
#declaring x variables
x_variables = ["mage", "m_meduc", "meduc", "monpre", "m_npvis", "npvis", "fage", "m_feduc", "feduc", "cigs", "npvis", "drink", "male", "mwhte", "mblck", "moth", "fwhte", "fblck", "foth"]


#looping to make x_variable suitable for statsmodels
for val in x_variables:
     print(f"{val} +")

mage +
m_meduc +
meduc +
monpre +
m_npvis +
npvis +
fage +
m_feduc +
feduc +
cigs +
npvis +
drink +
male +
mwhte +
mblck +
moth +
fwhte +
fblck +
foth +

In [27]:
# merging X_train and y_train so that they can be used in statsmodels
bw_2_train = pd.concat([x_train, y_train], axis = 1)


#building ols model
lm_best = smf.ols(formula =  """bwght ~  mage +
                                         m_meduc +
                                         meduc +
                                         m_npvis +
                                         npvis +
                                         fage +
                                         m_feduc +
                                         feduc +
                                         cigs +
                                         drink +
                                         male +
                                         mwhte +
                                         mblck +
                                         moth +
                                         fwhte +
                                         fblck +
                                         foth 
                                         """,
                                data = bw_2_train)
                                         
                                                                                                                                                                           

#fitting model based on the data
results = lm_best.fit()


#analyze the summary output
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  bwght   R-squared:                       0.744
Model:                            OLS   Adj. R-squared:                  0.715
Method:                 Least Squares   F-statistic:                     25.44
Date:                Thu, 25 Nov 2021   Prob (F-statistic):           1.16e-31
Time:                        13:21:56   Log-Likelihood:                -1064.4
No. Observations:                 147   AIC:                             2161.
Df Residuals:                     131   BIC:                             2209.
Df Model:                          15
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept   2563.9684    188.916     13.572      0.000    2190.247    2937.690
mage         -15.9437      3.733     -4.271      0.000     -23.329      -8.558
m_meduc     -623.0141    326.204     -1.910      0.058   -1268.323      22.295
meduc         29.6979     19.287      1.540      0.126      -8.456      67.852
m_npvis      650.4937    312.965      2.078      0.040      31.374    1269.614
npvis          3.2138      6.962      0.462      0.645     -10.559      16.987
fage          -2.7398      4.162     -0.658      0.511     -10.973       5.493
m_feduc      299.4603    290.398      1.031      0.304    -275.015     873.936
feduc         23.2035     15.815      1.467      0.145      -8.081      54.488
cigs         -39.6062      5.329     -7.432      0.000     -50.149     -29.063
drink        -98.3112     12.264     -8.016      0.000    -122.572     -74.051
male          62.0639     62.299      0.996      0.321     -61.178     185.306
mwhte       1018.1681    113.115      9.001      0.000     794.399    1241.937
mblck        715.5271    158.101      4.526      0.000     402.765    1028.289
moth         830.2732    118.587      7.001      0.000     595.680    1064.867
fwhte        751.9409    111.303      6.756      0.000     531.757     972.125
fblck       1023.4227    145.074      7.054      0.000     736.431    1310.414
foth         788.6048    138.268      5.703      0.000     515.078    1062.132
==============================================================================
Omnibus:                        1.400   Durbin-Watson:                   1.853
Prob(Omnibus):                  0.497   Jarque-Bera (JB):                1.013
Skew:                           0.004   Prob(JB):                        0.603
Kurtosis:                       3.407   Cond. No.                     5.88e+17
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.7e-30. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [23]:
#applying scikit-learn

#preparing data 
ols_data = bw_2.loc[ : , x_variables]

#target variable
bw_2_target = bw_2.loc[ : , "bwght"]

#setting train-test split 

x_train_FULL, x_test_FULL, y_train_FULL, y_test_FULL, = train_test_split(
    bw_2_data,        #X
    bw_2_target,      #y
    test_size = 0.25,
    random_state = 219)

#ols the data set for x, y is normal and p-value is included
x_train_OLS, x_test_OLS, y_train_OLS, y_test_OLS = train_test_split(
    ols_data,        #X
    bw_2_target,      #y
    test_size = 0.25,
    random_state = 219)

In [28]:
#model object 
lr = LinearRegression() 

#fitting model to training data 
lr_fit = lr.fit(x_train_OLS, y_train_OLS)

#predicting new data
lr_pred = lr_fit.predict(x_test_OLS)

#SCORING results with OLS
print("OLS Training Score: ", lr.score(x_train_OLS, y_train_OLS).round(4))
print("OlS Testing Score: ", lr.score(x_test_OLS, y_test_OLS).round(4))

#data for future use
lr_train_score = lr.score(x_train_OLS, y_train_OLS).round(4) #with r-square value
lr_test_score = lr.score(x_test_OLS, y_test_OLS).round(4)   #with r-sqaure value

#displaying gap between training and test scores
print("OLS Train-Test Gap: ", abs(lr_train_score - lr_test_score).round(4))
lr_test_gap = abs(lr_train_score - lr_test_score).round(4)

OLS Training Score:  0.7447
OlS Testing Score:  0.5801
OLS Train-Test Gap:  0.1646

In [13]:
lr_model_values = zip(bw_2_data[x_variables].columns,
                     lr_fit.coef_.round(decimals = 2))

#placeholdr list for storing of models
lr_model_lst = [("intercept", lr_fit.intercept_.round(decimals = 2))]

#print feature coefficients
for val in lr_model_values:
    lr_model_lst.append(val)
    
#results
for pair in lr_model_lst:
    print(pair)

('intercept', 4222.05)
('mage', -16.15)
('m_meduc', -602.7)
('meduc', 29.89)
('monpre', 9.01)
('m_npvis', 646.34)
('npvis', 2.06)
('fage', -2.67)
('m_feduc', 275.96)
('feduc', 24.63)
('cigs', -39.64)
('npvis', 2.06)
('drink', -97.94)
('male', 63.37)
('mwhte', 161.83)
('mblck', -140.59)
('moth', -21.24)
('fwhte', -100.74)
('fblck', 171.09)
('foth', -70.35)

In [14]:
#second model (lasso)
lasso_model = sklearn.linear_model.Lasso(alpha = 1.0,
                                         normalize = True)

#Fitting model to train data
lasso_fit = lasso_model.fit(x_train_FULL, y_train_FULL)

#predicting model
lasso_pred = lasso_fit.predict(x_test_FULL)

#scoring results
print("Lasso Training Score: ", lasso_model.score(x_train_FULL, y_train_FULL).round(4))
print("Lasso Testing Score: ", lasso_model.score(x_test_FULL, y_test_FULL).round(4))

lasso_train_score = lasso_model.score(x_train_FULL, y_train_FULL).round(4)
lasso_test_score = lasso_model.score(x_test_FULL, y_test_FULL).round(4)

#gap between test and train scores
print("Lasso Train-Test Gap: ", abs(lasso_train_score - lasso_test_score).round(4))
lasso_test_gap = abs(lasso_train_score - lasso_test_score).round(4)

Lasso Training Score:  0.7371
Lasso Testing Score:  0.6246
Lasso Train-Test Gap:  0.1125

In [15]:
#zipping names to its coef's
lasso_model_values = zip(bw_2_data.columns, lasso_fit.coef_.round(decimals =2))

#setting a placeholder
lasso_model_lst = [("intercept", lasso_fit.intercept_.round(decimals =2))]

#future coef's pairs being printing one by one
for val in lasso_model_values:
    lasso_model_lst.append(val)
    
#checking results
for pair in lasso_model_lst:
    print(pair)

('intercept', 4534.5)
('mage', -14.57)
('meduc', 18.85)
('monpre', 0.0)
('npvis', 0.91)
('fage', -3.15)
('feduc', 15.52)
('cigs', -37.72)
('drink', -100.04)
('male', 41.42)
('mwhte', 0.0)
('mblck', 0.0)
('moth', -69.79)
('fwhte', -0.0)
('fblck', 0.0)
('foth', -0.0)
('m_meduc', -267.0)
('m_npvis', 364.27)
('m_feduc', 0.0)

In [16]:
#finding coefficients that are equal withint he lasso model
#that are = to 0 and dropping them

#printing coef's
for feature, coefficient in lasso_model_lst:
    
    if coefficient == 0:
        lasso_model_lst.remove((feature, coefficient))
        
#results
for pair in lasso_model_lst:
    print(pair)

('intercept', 4534.5)
('mage', -14.57)
('meduc', 18.85)
('npvis', 0.91)
('fage', -3.15)
('feduc', 15.52)
('cigs', -37.72)
('drink', -100.04)
('male', 41.42)
('mblck', 0.0)
('moth', -69.79)
('fblck', 0.0)
('m_meduc', -267.0)
('m_npvis', 364.27)

In [17]:
#initiating an ARD model object to test-train the model 

ard_model = sklearn.linear_model.ARDRegression(normalize = False)

#fitting the model to the training data 
ard_fit = ard_model.fit(x_train_FULL, y_train_FULL)

#predicting the ard model for the new data 
ard_pred = ard_fit.predict(x_test_FULL)

print("Trianing Score: ", ard_model.score(x_train_FULL, y_train_FULL).round(4))
print("Testing Score: ", ard_model.score(x_test_FULL, y_test_FULL).round(4))

#saving scoring data to be able to print later
ard_train_score = ard_model.score(x_train_FULL, y_train_FULL).round(4)
ard_test_score = ard_model.score(x_test_FULL, y_test_FULL).round(4)

#finding and displaying gap for train and test for ard model
print("ARD Train Test Gap: ", abs(ard_train_score - ard_test_score).round(4))
ard_test_gap = abs(ard_train_score - ard_test_score).round(4)

Trianing Score:  0.7321
Testing Score:  0.6393
ARD Train Test Gap:  0.0928

In [18]:
#zipping names to its coef's
ard_model_values = zip(bw_2_data.columns, ard_fit.coef_.round(decimals =2))

#setting a placeholder
ard_model_lst = [("intercept", ard_fit.intercept_.round(decimals =2))]

#future coef's pairs being printing one by one
for val in ard_model_values:
    ard_model_lst.append(val)
    
#checking results
for pair in ard_model_lst:
    print(pair)

('intercept', 4648.25)
('mage', -16.31)
('meduc', 16.8)
('monpre', 0.0)
('npvis', 0.0)
('fage', -0.84)
('feduc', 11.89)
('cigs', -39.17)
('drink', -104.14)
('male', 5.84)
('mwhte', 0.0)
('mblck', 0.0)
('moth', -43.83)
('fwhte', -0.0)
('fblck', 0.0)
('foth', -0.0)
('m_meduc', -176.46)
('m_npvis', 311.85)
('m_feduc', -0.0)

In [19]:
#finding coefficients that are equal withint he lasso model
#that are = to 0 and dropping them

#printing coef's
for feature, coefficient in ard_model_lst:
    
    if coefficient == 0:
        ard_model_lst.remove((feature, coefficient))
        
#results
for pair in ard_model_lst:
    print(pair)

('intercept', 4648.25)
('mage', -16.31)
('meduc', 16.8)
('npvis', 0.0)
('fage', -0.84)
('feduc', 11.89)
('cigs', -39.17)
('drink', -104.14)
('male', 5.84)
('mblck', 0.0)
('moth', -43.83)
('fblck', 0.0)
('m_meduc', -176.46)
('m_npvis', 311.85)

In [20]:
#comparing results between all 3 models 

print(f"""
Model     Train Score       Test Score
------    ------------      -----------
OLS         {lr_train_score}          {lr_test_score}
Lasso       {lasso_train_score}          {lasso_test_score}
ARD         {ard_train_score}          {ard_test_score}
""")

#dictionary model 

model_performance = {
    
    "Model Type" : ["OLS", "Lasso", "ARD"],
    
    "Training" : [lr_train_score, lasso_train_score, 
                     ard_train_score],
    
    "Testing" : [lr_test_score, lasso_test_score,
                     ard_test_score],
    
    "Train-Test Gap" : [lr_test_gap, lasso_test_gap, 
                        ard_test_gap],
    
    "Model Size" : [len(lr_model_lst), len(lasso_model_lst),
                    len(ard_model_lst)],
                     
    "Model" : [lr_model_lst, lasso_model_lst, ard_model_lst]}

Model     Train Score       Test Score
------    ------------      -----------
OLS         0.7447          0.5801
Lasso       0.7371          0.6246
ARD         0.7321          0.6393

In [21]:
print(f"""
Final Model: 
""")

#initiating an ARD model object to test-train the model 

ard_model = sklearn.linear_model.ARDRegression(normalize = False)

#fitting the model to the training data 
ard_fit = ard_model.fit(x_train_FULL, y_train_FULL)

#predicting the ard model for the new data 
ard_pred = ard_fit.predict(x_test_FULL)

print("Trianing Score: ", ard_model.score(x_train_FULL, y_train_FULL).round(4))
print("Testing Score: ", ard_model.score(x_test_FULL, y_test_FULL).round(4))

#saving scoring data to be able to print later
ard_train_score = ard_model.score(x_train_FULL, y_train_FULL).round(4)
ard_test_score = ard_model.score(x_test_FULL, y_test_FULL).round(4)

#finding and displaying gap for train and test for ard model
print("ARD Train Test Gap: ", abs(ard_train_score - ard_test_score).round(4))
ard_test_gap = abs(ard_train_score - ard_test_score).round(4)

Final Model:

Trianing Score:  0.7321
Testing Score:  0.6393
ARD Train Test Gap:  0.0928